streamlit>=1.35.0
transformers>=4.41.0
accelerate>=0.31.0
torch>=2.2.0
diffusers>=0.27.2
safetensors>=0.4.3
sentence-transformers>=3.0.0
faiss-cpu>=1.8.0.post1
jinja2>=3.1.4
openai>=1.35.10
pypdf>=4.2.0
numpy>=1.26.4
Pillow>=10.3.0
